.container {
  border: 2px solid red;
}

.group-creation-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.group-creation-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: out-fit;
  font-size: 24px;
  font-weight: 600;
}

.group-creation-description {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #505050;
  font-family: out-fit;
  font-size: 16px;
  margin-top: 10px;
}

.click-description {
 display: flex;
 justify-content: center;
 align-items: center;
 color: #505050;
 font-family: out-fit;
 font-size: 16px;
}
