
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.fake
.vs/
Trace/.vs/
build/
Trace/.vs/
Trace/.vs/Trace/
# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage

Trace/.vs


Infrastructure/bin/Release
Infrastructure/obj/Release
Services/obj/Release
Services/bin/Release
Trace/bin/Release
Trace/obj/Release

# Ignore modified files in Core, Infrastructure, Services, and Trace directories
Core/bin/Release/net8.0/Core.dll
Core/bin/Release/net8.0/Core.pdb
Core/obj/Release/net8.0/Core.AssemblyInfo.cs
Core/obj/Release/net8.0/Core.AssemblyInfoInputs.cache
Core/obj/Release/net8.0/Core.dll
Core/obj/Release/net8.0/Core.pdb
Core/obj/Release/net8.0/Core.sourcelink.json
Core/obj/Release/net8.0/ref/Core.dll
Core/obj/Release/net8.0/refint/Core.dll

Infrastructure/bin/Release/net8.0/Core.dll
Infrastructure/bin/Release/net8.0/Core.pdb
Infrastructure/bin/Release/net8.0/Infrastructure.dll
Infrastructure/bin/Release/net8.0/Infrastructure.pdb
Infrastructure/obj/Release/net8.0/Infrastructure.AssemblyInfo.cs
Infrastructure/obj/Release/net8.0/Infrastructure.AssemblyInfoInputs.cache
Infrastructure/obj/Release/net8.0/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/Release/net8.0/Infrastructure.dll
Infrastructure/obj/Release/net8.0/Infrastructure.pdb
Infrastructure/obj/Release/net8.0/Infrastructure.sourcelink.json
Infrastructure/obj/Release/net8.0/ref/Infrastructure.dll
Infrastructure/obj/Release/net8.0/refint/Infrastructure.dll

Services/bin/Release/net8.0/Core.dll
Services/bin/Release/net8.0/Core.pdb
Services/bin/Release/net8.0/Infrastructure.dll
Services/bin/Release/net8.0/Infrastructure.pdb
Services/bin/Release/net8.0/Services.dll
Services/bin/Release/net8.0/Services.pdb
Services/obj/Release/net8.0/Services.AssemblyInfo.cs
Services/obj/Release/net8.0/Services.AssemblyInfoInputs.cache
Services/obj/Release/net8.0/Services.csproj.AssemblyReference.cache
Services/obj/Release/net8.0/Services.dll
Services/obj/Release/net8.0/Services.pdb
Services/obj/Release/net8.0/Services.sourcelink.json
Services/obj/Release/net8.0/ref/Services.dll
Services/obj/Release/net8.0/refint/Services.dll

Trace/.vs/Trace/DesignTimeBuild/.dtbcache.v2
Trace/.vs/Trace/v17/.futdcache.v2
Trace/.vs/Trace/v17/.suo
Trace/.vs/Trace/v17/DocumentLayout.json
Trace/Properties/PublishProfiles/FolderProfile.pubxml.user
Trace/bin/Release/net8.0/Core.dll
Trace/bin/Release/net8.0/Core.pdb
Trace/bin/Release/net8.0/Infrastructure.dll
Trace/bin/Release/net8.0/Infrastructure.pdb
Trace/bin/Release/net8.0/Services.dll
Trace/bin/Release/net8.0/Services.pdb
Trace/bin/Release/net8.0/Trace.dll
Trace/bin/Release/net8.0/Trace.exe
Trace/bin/Release/net8.0/Trace.pdb
Trace/obj/Release/net8.0/PubTmp/Out/Core.dll
Trace/obj/Release/net8.0/PubTmp/Out/Core.pdb
Trace/obj/Release/net8.0/PubTmp/Out/Infrastructure.dll
Trace/obj/Release/net8.0/PubTmp/Out/Infrastructure.pdb
Trace/obj/Release/net8.0/PubTmp/Out/Services.dll
Trace/obj/Release/net8.0/PubTmp/Out/Services.pdb
Trace/obj/Release/net8.0/PubTmp/Out/Trace.dll
Trace/obj/Release/net8.0/PubTmp/Out/Trace.exe
Trace/obj/Release/net8.0/PubTmp/Out/Trace.pdb
Trace/obj/Release/net8.0/Trace.AssemblyInfo.cs
Trace/obj/Release/net8.0/Trace.AssemblyInfoInputs.cache
Trace/obj/Release/net8.0/Trace.csproj.AssemblyReference.cache
Trace/obj/Release/net8.0/Trace.dll
Trace/obj/Release/net8.0/Trace.pdb
Trace/obj/Release/net8.0/Trace.sourcelink.json
Trace/obj/Release/net8.0/apphost.exe
Trace/obj/Release/net8.0/ref/Trace.dll
Trace/obj/Release/net8.0/refint/Trace.dll
Trace/.vs/Trace/DesignTimeBuild/.dtbcache.v2
Trace/.vs/Trace/v17/.suo
Trace/.vs/Trace/v17/DocumentLayout.json
# production

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
