.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidenav {
  height: 100vh;
  width: 20%;
  overflow-y: auto;
}

.sidenav ul {
  background-color: #F6F6F4;
  border-radius: 0 24px 0 0;
  padding: 24px;
  list-style: none;
  height: 100%;
}

.sidenav a,
.sidenav button {
  text-decoration: none;
  color: #A1A1A1;
  display: block;
  border-radius: 12px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
}

.sidenav button {
  background-color: #F6F6F4;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
}

.dp-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidenav a.active,
.dropdown-menu .active {
  background-color: #E2ECC3;
  height: 48px;
  color: #4467A1;
  font-weight: 600;
  padding: 0 16px;
}

.logo {
  background-color: #FFFFFF;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 70px;
}

hr {
  border: 1px solid rgba(122, 122, 122, 0.12);
  margin: 16px 0;
}

.caption {
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 16px;
  font-weight: 500;
}

.company {
  background-color: white;
  font-weight: 600;
  padding: 0 16px;
  color: #4467A1;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 78%;
  height: 100vh;
  margin: 0 24px;
  overflow-y: auto;
}

.topnav {
  background-color: #FFFFFF;
}

.topnav ul {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 8px;
  align-items: center;
  height: 80px;
}

.btn {
  display: flex;
  gap: 8px;
  text-decoration: none;
  height: 48px;
  align-items: center;
  background-color: #9EC137;
  padding: 0 24px 0 16px;
  border-radius: 24px;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
}

.notif {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background-color: #f6f6f4;
  border-radius: 24px;
  color: #505050;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #505050;
  height: 48px;
  border-radius: 24px;
  background-color: #f6f6f4;
  padding: 0 16px 0 4px;
}

.top-content {
  border-radius: 24px 24px 0 0;
  background-color: #f6f6f4;
  padding: 24px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-btn {
  display: flex;
  gap: 8px;
  text-decoration: none;
  height: 48px;
  align-items: center;
  background-color: #4467A1;
  padding: 0 32px 0 24px;
  border-radius: 24px;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

h2 {
  color: #505050;
  font-size: 36px;
  font-weight: 600;
  /* margin-bottom: 16px; */
}

.transactions-table {
  background-color: #ffffff;
  width: 100%;
  margin-top: 24px;
  border-radius: 24px;
  padding: 24px;
  color: #505050;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: #f6f6f4;
  border-radius: 16px;
  color: #505050;
}

thead {
  height: 48px;
  background-color: #f6f6f4;
}

th {
  text-align: left;
  padding-left: 16px;
}

th.date,
td.date,
th.amount,
td.amount {
  text-align: right;
  padding-left: 0;
  padding-right: 16px;
}

th.actions {
  text-align: center;
  padding-left: 0;
}

td.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
}

td {
  border-bottom: 1px solid rgba(122, 122, 122, 0.12);
}

.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #505050;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.modal.open {
  display: block; /* Show the modal when it's open */
}

.modal-content {
  background-color: #FFFFFF;
  margin: 3% auto;
  padding: 20px;
  border-radius: 24px;
  width: 40%;
  max-width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin: 32px 0;
}

.close {
  color: #505050;
  float: right;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group input,
.form-group select {
  height: 48px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  max-width: 100%;
  padding: 16px;
  border: 1px solid rgba(122, 122, 122, 0.3);
  border-radius: 8px;
  box-sizing: border-box;
  color: #505050;
  font-size: 16px;
  background-color: #FFFFFF;
}

button[type="submit"] {
  align-items: center;
  justify-content: center;
}

.label-desc {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 16px;
  font-weight: 600;
  color: #505050;
  line-height: 160%;
}

.label-desc p {
  font-weight: 400;
  font-size: 14px;
  color: #A1A1A1;
}

.CTA-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
}

.CTA-btn button {
  width: 48%;
}

.cancel {
  background-color: #f6f6f4;
  color: #505050;
  border: 1px solid rgba(122, 122, 122, 0.12);
}

.form-side {
  width: 45%;
  background-color: #FFFFFF;
  padding: 48px;
}

.img-side {
  width: 55%;
}

.form-side,
.img-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.img-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.form-side form {
  width: 100%;
}

.flex {
  display: flex;
  width: 100%;
}

.img-side {
  background-color: #4467A1;
  height: 100vh;
  color: #FFFFFF;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 8px;
}

.greeting img {
  height: 35px;
}

.form-intro {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img-intro {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.img-intro h2 {
  color: #FFFFFF;
}

.img-wrapper {
  height: 400px;
}

.img-wrapper img {
  width: 100%;
}

.form-content a {
  font-weight: 600;
  color: #505050;
}

@media (max-width: 1024px) {
  .flex {
    flex-direction: column-reverse
  }

  .form-side {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .img-side {
    width: 100%;
  }

  .form-content {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .form-content,
  .img-content {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .img-side {
    display: none;
  }
}

@media (max-width: 480px) {
  .form-content {
    width: 70%;
  }
}